html,
body{
  font-size: 16px;
  margin: 0;
  font-family: sans-serif;
}

body.guides_hidden .draw_square{
  border: none;
}

body.guides_hidden .draw_square span{
  display: none;
}

h1{
  margin-top: 0;
  font-size: 2.5rem;
  line-height: 1;
}

#button{
  font-size: 3rem;
  border-radius: 2rem;
  padding: 0.2em;
  border: 1px solid;
  margin-bottom: 2rem;
  box-shadow: 0.2rem 0.2rem 0 #000;
  cursor: pointer;
}

#square_container{
  display: block;
  position: relative;
  margin: 4rem 0 0 calc(40% - 4rem); 
  width: 60%;
  border: 1px solid #000;
}

.row_container{
  display: flex;
}

.draw_square{
  position: relative;
  width: 16.25%;
  padding-bottom: 10vh;
  border: 1px solid;
}

.draw_square.selected{
  background-color: rgba(0,0,0,0.2);
}

.draw_square span{
  font-size: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  color: gray;
  transform: translate(-50%, -50%);
}

.draw_square.color_set span{
  opacity: 0;
}

.side_bar{
  position: fixed;
  top: 4rem;
  left: 4rem;
  width: 25%; 
  line-height: 1.5;
  border-top-right-radius: 1rem;
}

.box{
  border-top-right-radius: 2rem;
  border: 2px solid;
  margin-bottom: 2rem;
}

.side_bar h2{
  margin-left: 1rem;
}

#input_text{
  padding: 1rem;
  box-sizing: border-box;
  min-height: 5rem;
  background-color: lightgray;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}

.column_markers span,
.row_markers span{
  display: block;
  font-size: 0.75rem;
}

.row_markers span{
  width: 16.25%;
}

.column_markers span{
  height: 10vh;
  line-height: 10vh;
}

.row_markers,
.column_markers{
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.row_markers{
  top: -1.5rem;
  left: 0;
  right: 0;
  text-align: center;
}

.column_markers{
  position: absolute;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: -4rem;
  text-align: right;
}