html,
body{
  font-size: 16px;
  margin: 0;
  font-family: sans-serif;
}

h2{
  font-weight: normal;
}

#button{
  position: fixed;
  top: 4rem;
  left: 4rem;
  font-size: 3rem;
  border-radius: 2rem;
  padding: 0.2em;
  border: 1px solid;
  width: 25%;
}

#square_container{
  display: block;
  margin: 4rem 0 0 calc(40% - 4rem); 
  width: 60%;
}

.row_container{
  display: flex;
}

.draw_square{
  position: relative;
  width: 16.25%;
  padding-bottom: 10vh;
  border: 1px solid #000;
}

.draw_square.selected{
  background-color: rgba(0,0,0,0.2);
}

.draw_square span{
  font-size: 0.75rem;
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  transform: translate(-50%, -50%);
}

.draw_square.color_set span{
  opacity: 0;
}

.side_bar{
  position: fixed;
  top: 12rem;
  left: 4rem;
  border: 1px solid;
  width: 25%; 
  line-height: 1.5;
  border-top-right-radius: 1rem;
}

.side_bar h2{
  margin-left: 1rem;
}

#input_text{
  padding: 1rem;
  box-sizing: border-box;
  min-height: 5rem;
  background-color: lightgray;
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.4);
  margin-left: 1rem;
  margin-right: 1rem;
}